.About {
  width: 100%;
  font-family: "Quicksand", Helvetica, sans-serif;
  background-color: #fff2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 100px;
}

.Title span {
  margin: 0 5px;
  opacity: 0;
}

.SlideIn1 {
  animation: slideIn 0.7s 0s ease forwards;
}

.SlideIn2 {
  animation: slideIn 0.7s 0.5s ease forwards;
}

.SlideIn3 {
  animation: slideIn 0.7s 1s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 992px) {
  .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .Title span {
    margin-bottom: 20px;
  }
}
