.MenuItem {
  margin-bottom: 30px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  opacity: 0;
  transform: translateY(50%);
}

.NamePrice {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Name {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.95rem;
}

.Price {
  margin: 0;
  letter-spacing: 0.3rem;
  padding-right: 20%;
}

.Desc {
  line-height: 1.4rem;
}

.SlideIn {
  animation: slideIn 1s 0s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
