.ActionButton {
  width: 100%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe9e9;
  border: none;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.15rem;
  opacity: 0;
  font-size: 16px;
  text-decoration: none;
  color: black;
  transform: translateY(100%);
  pointer-events: none;
  animation: jumpIn 1s 2.5s ease forwards, enable 0s 4s ease forwards;
  transition: 0.5s;
  cursor: pointer;
}

.ActionButton:hover {
  background: #ff8383;
}

@keyframes jumpIn {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes enable {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: visible;
  }
}

@keyframes easeOutBounce {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  54% {
    transform: translateY(-25%);
  }

  74% {
    transform: translateY(-2%);
  }

  82% {
    transform: translateY(-7%);
  }

  92% {
    transform: translateY(-1%);
  }

  96% {
    transform: translateY(-2%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
