.Gym {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 75px 0;
}

.Container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 1.2rem;
}

.Container .Available {
  padding-bottom: 0px;
}

.Container .Close p {
  line-height: 2rem;
}

.Container .Close {
  padding: 30px 0;
}

.Gym .GymGallery {
  width: 100%;
  height: 40vh;
  background-image: url("../../assets/images/gym1.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.Gym .GymGallery .Transparent {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.Gym .GymContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Gym .Container hr {
  border-top: 2px solid black;
  transform: scaleX(0);
}

div.GymContent p,
h3 {
  opacity: 0;
}

.FadeIn {
  animation: fadeIn 1s 0s ease forwards;
}

.SlideIn {
  animation: slideIn 1s 0s ease forwards;
}

.SlideFadeIn {
  animation: slideFadeIn 1s 0s ease forwards;
}

.ScaleOut {
  animation: scaleOut 1s 0s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes scaleOut {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 600px) {
  .Container {
    padding: 0 50px;
    font-size: 1rem;
  }
}
