.Main {
  height: 100vh;
  background-color: white;
  overflow: hidden;
  animation: start 1s 3.5s forwards;
}

.Margin {
  margin-left: 300px;
}

@keyframes start {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

@media only screen and (max-width: 992px) {
  .Margin {
    margin: 0;
  }
}
