.Contact {
  position: relative;
  width: 100%;
  background-color: #fff2f2;
  padding: 50px 0;
  box-sizing: border-box;
}

.Container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  text-transform: uppercase;
  margin: 15px;
  font-weight: 600;
  text-align: center;
}

.Container .Close {
  padding-bottom: 10px;
  line-height: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Container .Close:last-of-type {
  padding-bottom: 0px;
  line-height: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Close p {
  margin: 10px;
  line-height: 1.5rem;
  text-align: center;
}

.Title,
.Close {
  opacity: 0;
}

.Container hr {
  margin: 40px 0;
  width: 50%;
  border-top: 2px solid #ff8383;
  transform: scaleX(0);
}

.FadeIn {
  animation: fadeIn 2s 0s ease forwards;
}

.SlideIn {
  animation: slideIn 2s 0s ease forwards;
}

.ScaleOut {
  animation: scaleOut 0.7s 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-150%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleOut {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
