.NavigationItem {
  color: #ffe9e9;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3rem;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  animation: fadeIn 2s 2s ease forwards, enable 0s 4s ease forwards;
}

.NavigationItem:hover {
  color: #ff6767;
  cursor: pointer;
  transform: translateX(7%);
  transition: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enable {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: visible;
  }
}
