.Socials {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
  transform: translateX(-100%);
  animation: slideIn 1s 2.3s ease forwards;
}

.Socials i {
  font-size: 1.7rem;
  color: #ff6767;
  transition: 0.1s;
  padding: 15px;
  margin: 5px;
  pointer-events: none;
  animation: enable 0s 4s ease forwards;
}

.Socials i:hover {
  color: #ffb6b6;
  cursor: pointer;
  font-size: 2.5rem;
  transition: 0.1s;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes enable {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: visible;
  }
}

@media only screen and (max-width: 992px) {
  .Socials {
    max-width: 400px;
    margin: 20px 0;
  }
}
