.MenuChanger {
  position: absolute;
  top: 0;
  color: black;
  background: white;
  height: 100%;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.MenuChanger .Options {
  position: sticky;
  display: flex;
  writing-mode: vertical-lr;
  letter-spacing: 0.3rem;
  font-size: 0.9rem;
  left: 302px;
  top: 20%;
  transform: rotate(180deg);
}

.MenuChanger .Options p {
  height: 100px;
}
