.SectionHeader {
  height: 75px;
  padding-left: 100px;
  margin-bottom: 75px;
  background-color: #262626;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
}

.SectionHeaderLessPadding {
  height: 75px;
  padding-left: 100px;
  margin-bottom: 75px;
  background-color: #262626;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
}

.SectionHeader p {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Quicksand", Helvetica, sans-serif;
  letter-spacing: 0.3rem;
  opacity: 0;
  font-weight: 700;
}

.SectionHeaderLessPadding p {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Quicksand", Helvetica, sans-serif;
  letter-spacing: 0.3rem;
  opacity: 0;
  font-weight: 700;
}

.SlideIn {
  animation: slideIn 1.5s 0.2s forwards;
  animation-timing-function: cubic-bezier(0.18, 0.82, 0.3, 0.98);
}

.SlideOut {
  animation: slideOut 1.5s 0s forwards;
  animation-timing-function: cubic-bezier(0.18, 0.82, 0.3, 0.98);
}

.FadeIn {
  animation: fadeIn 1s 0.75s forwards;
}

.FadeOut {
  animation: fadeOut 1s 0s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .SectionHeaderLessPadding {
    padding-left: 60px;
  }

  .SectionHeader p {
    font-size: 1.2rem;
  }

  .SectionHeaderLessPadding p {
    font-size: 1.2rem;
  }
}
