.SlideOutSectionHeader {
  height: 75px;
  padding-left: 100px;
  margin-bottom: 75px;
  background-color: #262626;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.3rem;
  animation: slideOut 1.5s 0s forwards;
  animation-timing-function: cubic-bezier(0.18, 0.82, 0.3, 0.98);
}

.SlideInSectionHeader {
  height: 75px;
  padding-left: 100px;
  margin-bottom: 75px;
  background-color: #262626;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  animation: slideIn 1.5s 0s forwards;
  animation-timing-function: cubic-bezier(0.18, 0.82, 0.3, 0.98);
}

.SlideInSectionHeader p {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3rem;
  opacity: 0;
  animation: fadeIn 1s 0.75s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
