.Pair {
  margin-bottom: 500px;
  overflow-x: hidden;
}

.PairOdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PairEven {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.Pair .Text {
  width: 40%;
  line-height: 2rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  opacity: 0;
}

.Pair img {
  width: 55%;
}

.ImageOdd {
  transform: translateX(200%);
}

.ImageEven {
  transform: translateX(-200%);
}

.FadeIn {
  animation: fadeIn 1s 0s ease forwards;
}

.SlideInFromRight {
  animation: slideInFromRight 1s 0s ease forwards;
}

.SlideInFromLeft {
  animation: slideInFromLeft 1s 0s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 992px) {
  .PairOdd,
  .PairEven {
    display: flex;
    flex-direction: column-reverse;
  }

  .Pair .Text {
    width: 90%;
    text-align: center;
  }

  .Pair img {
    width: 90%;
    min-width: 300px;
    margin-bottom: 10px;
  }
}
